<% title "Word" %>

<p>
  <strong>Language:</strong>
  <%=h @word.language %>
</p>
<p>
  <strong>Origin:</strong>
  <%=h @word.origin %>
</p>
<p>
  <strong>Translation:</strong>
  <%=h @word.translation %>
</p>
<p>
  <strong>Hits:</strong>
  <%=h @word.hits %>
</p>
<p>
  <strong>Misses:</strong>
  <%=h @word.misses %>
</p>

<p>
  <%= link_to "Edit", edit_word_path(@word) %> |
  <%= link_to "Destroy", @word, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", words_path %>
</p>
